
<mat-sidenav-container class="sidevar-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" opened="true">
    
    <mat-nav-list>
      <mat-list-item routerLink="/home">Home

      </mat-list-item>
      <mat-list-item routerLink="/dashboard">Dashboard

      </mat-list-item>
      <mat-list-item routerLink="/add-expense">Add an Expense

      </mat-list-item>
      <mat-list-item routerLink="/list">Expense List

      </mat-list-item>
      <mat-list-item routerLink="/contact">Contact

      </mat-list-item>

      

    </mat-nav-list>
  </mat-sidenav>
  
 
    <mat-sidenav-content>
      <mat-toolbar color=""primary>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>
            menu
          </mat-icon>

        </button>
        <span class="app-title">
          Welcome to ExpenseTracker-Angular 19 project
        </span>
      </mat-toolbar>


      <router-outlet />
    </mat-sidenav-content>
  
  
</mat-sidenav-container>

